:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}

.vissual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

nav {
  margin-right: auto;
}

.nav-box {
  display: flex;
  align-items: center;
}

.link-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;
}

.logo {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.site-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  width: 294px;
}

.site-nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-item {
  color: black;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.list {
  list-style-type: none;
}

.contact-list {
  display: flex;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contacts-icon{
  margin-right: 10px;
  fill: currentColor;
}

/* Main */

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  min-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero/back-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #188ce8;
}

.main-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.list-ben {
  display: flex;
  padding: 0;
  margin: 0;
}

.benefits-list {
  padding-bottom: 0;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 0;
  margin-top: 0;
}

.benefits-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
  margin-bottom: 0;
}

.list-ben-item {
  width: 270px;
}

.list-ben-item:not(:last-child) {
  margin-right: 30px;
}

.icon-section{
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}

.main-list {
  display: flex;
  padding: 0;
}

.our-team {
  background-color: #f5f4fa;
}

.main-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  display: flex;
  padding: 0;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.title-workers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.title-worker-item {
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.social-list{
  display: flex;
  justify-content: center;
}

.social-item{
  display: flex;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.social-link{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item:not(:last-child){
  margin-right: 10px;
}

.social-item:hover,
.social-item:focus{
  background-color: var(--accent-color);
}

.social-link:hover .soc-icon,
.social-link:focus .soc-icon{
  fill: var(--primary-white-color);
}

.soc-icon{
  fill: #AFB1B8;
}

.dimianenko,
.repina,
.tarasov,
.ermakov {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
/* ======== Clients ======== */

.client-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-list-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.client-list-item:not(:last-child){
  margin-right: 30px;
}

.client-icon{
  fill: #AFB1B8;
}

.client-list-item:hover,
.client-list-item:focus{
  border: 1px solid var(--accent-color);
}

.client-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.client-link:hover .client-icon,
.client-link:focus .client-icon{
  fill: var(--accent-color);
}

/* ======== Footer ======== */
address {
  font-style: normal;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot{
  display: flex;
  align-items: baseline;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 9px;
}

.address-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foot-list:not(:last-child) {
  margin-bottom: 9px;
}

.logo-item {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.logo-foot {
  display: block;
  margin-bottom: 20px;
  margin-right: 156px;
  padding: 0;
}

.foot-left{
  width: 231px;
  margin-right: 70px;
}

.foot-right{
  width: 206px;
  display: block;
}

.text-foot{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.soc-list{
  display: flex;
}

.soc-list-item{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-list-item:not(:last-child){
  margin-right: 10px;
}

.foot-icon{
  fill: var(--primary-white-color);
}

.soc-list-item:hover,
.soc-list-item:focus{
  background-color: var(--accent-color);
}

.soc-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}