:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.link-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;
}

.logo {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

.site-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  width: 294px;
}

.site-nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
  transition: transform var(--duration) var(--timing-function);
}

.site-nav-item {
  color: black;
}

.site-nav {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.nav-box {
  display: flex;
  align-items: center;
}

nav {
  margin-right: auto;
}

.list {
  list-style-type: none;
}

.contact-list {
  display: flex;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  transition: transform var(--duration) var(--timing-function);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: transform var(--duration) var(--timing-function);
}

.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn-item:not(:last-child) {
  margin-right: 8px;
}

.main-content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.main-content-item {
  color: var(--secondary-text-color);
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
}

.list-cards-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.list-cards-item:hover .text-description,
.list-cards-item:focus .text-description{
  transform: translateY(0);
  transition: transform var(--duration) var(--timing-function);
}

.list-cards-item:nth-child(3n) {
  margin-right: 0;
}

.list-cards-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.cards-name {
  padding: 20px 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.link-cards {
  display: block;
}

.link-cards:hover,
.link-cards:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform var(--duration) var(--timing-function);
}

.text-description{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5; 
    letter-spacing: 0.03em; 
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);;
    transform: translateY(101%);
    transition: transform var(--duration) var(--timing-function);
}

.image{
  display: block;
  width: auto;
  height: 100%;
}

.description{
  position: relative;
  overflow: hidden;
}

address {
  font-style: normal;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot {
  display: flex;
  align-items: baseline;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 9px;
}

.address-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foot-list:not(:last-child) {
  margin-bottom: 9px;
}

.logo-item {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.logo-foot {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
}

.foot-left {
  width: 231px;
  margin-right: 70px;
}

.foot-right {
  width: 206px;
  display: block;
}

.text-foot {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.soc-list {
  display: flex;
}

.soc-list-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-list-item:not(:last-child) {
  margin-right: 10px;
}

.foot-icon {
  fill: var(--primary-white-color);
}

.soc-list-item:hover,
.soc-list-item:focus {
  background-color: var(--accent-color);
  transition: transform var(--duration) var(--timing-function);
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
